<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="/assets/css/main.css">
         <script type="text/javascript" async
         src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML">
     </script>

     <script type="text/x-mathjax-config">
     MathJax.Hub.Config({
         extensions: ["tex2jax.js"],
         jax: ["input/TeX", "output/HTML-CSS"],
         tex2jax: {
         inlineMath: [ ['$','$'], ["\\(","\\)"] ],
         displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
         processEscapes: true
         },
         "HTML-CSS": { availableFonts: ["TeX"] }
     });
     </script>
    <!-- <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.5/es5/tex-mml-chtml.js"></script> -->
    <!-- <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath:[['$','$']]}});</script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script> -->
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <style>
        body {
            background-color:gray;
        }
        .menu {
          background-color:black;
          font-size: 2em
        }
        .mainbody {
          margin: 60px auto;
          max-width: 800px;
          padding: 50px;
          border-radius: 20px;
          background-color: white;
        }
        .page_date {
            font-size: 13pt;
        }
        .content {
          font-size: 13pt;
        }
        @import url("main.css");
    </style>
  </head>

  <body>
    <div class="menu">
      <a style="color:white; margin-right:1em" href="{% link index.md %}">index</a>
      <a style="color:white" href="https://github.com/ktasha45">github</a>
    </div>
    <div class="mainbody">
      <div class="content">
        {% if page.date %}
          <span class="page_date">
          <i>{{ page.date | date_to_string }}</i>
          </span>
        {% endif %}
        {{ content }}
      </div>
    </div>
  </body>
</html>